.pile {
  position: relative;
  display: flex;
  counter-reset: pile;
  height: fit-content;
}

.revealed {
  z-index: 1;
}

.card {
  z-index: 1;
}

.base {
  width: 100px;
  aspect-ratio: 2.8/3.5;
  border-radius: 3px;
  border: 1px solid white;
  cursor: pointer;
}

.pile > div:not(.base) {
  position: absolute;
  --offset: calc(var(--count) * 1rem);
}

.right {
  flex-direction: row;
}

.left {
  flex-direction: row-reverse;
}

.down {
  flex-direction: column;
}

.left > div {
  right: var(--offset);
}

.down > div {
  top: var(--offset);
}

.right > div {
  left: var(--offset);
}

.overlap {
  z-index: 1;
}

.card:focus {
  outline: 2px solid white;
}

.card:hover {
  cursor: grab;
}

@keyframes hover {
  0% {
    transform: translateY(0);
    scale: 1;
  }

  100% {
    transform: translateY(-5px);
    scale: 1.05;
  }
}
